<cbs-cf-section
    *ngFor="let section of data; let last = last; let sectionInd=index;"
    [sectionData]="section"
    [url]="urls?.sectionUrl"
    (editError)="callSectionEditError($event)"
    (editSuccess)="callSectionEditSuccess($event)"
    (addSuccess)="callSectionAddSuccess($event)"
    (addError)="callSectionAddError($event)"
    (addCancel)="onSectionAddCancel()">

    <cbs-cf-field
        *ngFor="let field of section?.customFields; let fieldInd=index; trackBy: field?.id;"
        [uid]="sectionInd + '_' + fieldInd"
        [url]="urls?.fieldUrl"
        [fieldData]="field"
        [sectionId]="section?.id"
        [addSectionId]="true"
        [lookupTypes]="fieldLookupTypes"
        [fieldTypes]="fieldTypes"
        (fieldEditSuccess)="callFieldEditSuccess($event)"
        (fieldEditError)="callFieldEditError($event)"
        (fieldDeleteSuccess)="callFieldDeleteSuccess($event)"
        (fieldDeleteError)="callFieldDeleteError($event)"
        (fieldAddCancel)="onFieldAddCancel($event)"
        (fieldAddSuccess)="callFieldAddSuccess($event)"
        (fieldAddError)="callFieldAddError($event)"
    ></cbs-cf-field>

    <cbs-cf-add [buttonTitle]="'ADD_FIELD' | translate" [disabled]="last && sectionAddMode" (imageClick)="addField(section?.id)"
                [uid]="sectionInd + 1"></cbs-cf-add>
</cbs-cf-section>
<cbs-cf-add [buttonTitle]="'ADD_SECTION' | translate" (imageClick)="addSection()" [disabled]="sectionAddMode"></cbs-cf-add>


