<cbs-cf-section
    *ngFor="let section of data; let last = last; let sectionInd=index;"
    [sectionData]="section"
    [url]="urls?.sectionUrl"
    (editErrorChanged)="callSectionEditError($event)"
    (editSuccessChanged)="callSectionEditSuccess($event)"
    (addSuccessChanged)="callSectionAddSuccess($event)"
    (addErrorChanged)="callSectionAddError($event)"
    (addCancelChanged)="onSectionAddCancel()">

    <cbs-cf-field
        *ngFor="let field of section?.customFields; let fieldInd=index; trackBy: field?.id;"
        [uid]="sectionInd + '_' + fieldInd"
        [url]="urls?.fieldUrl"
        [fieldData]="field"
        [sectionId]="section?.id"
        [addSectionId]="true"
        [lookupTypes]="fieldLookupTypes"
        [fieldTypes]="fieldTypes"
        (fieldEditSuccessChanged)="callFieldEditSuccess($event)"
        (fieldEditErrorChanged)="callFieldEditError($event)"
        (fieldDeleteSuccessChanged)="callFieldDeleteSuccess($event)"
        (fieldDeleteErrorChanged)="callFieldDeleteError($event)"
        (fieldAddCancelChanged)="onFieldAddCancel($event)"
        (fieldAddSuccessChanged)="callFieldAddSuccess($event)"
        (fieldAddErrorChanged)="callFieldAddError($event)"
    ></cbs-cf-field>

    <cbs-cf-add [buttonTitle]="'ADD_FIELD' | translate" [disabled]="last && sectionAddMode" (clickChanged)="addField(section?.id)"
                [uid]="sectionInd + 1"></cbs-cf-add>
</cbs-cf-section>
<cbs-cf-add [buttonTitle]="'ADD_SECTION' | translate" (clickChanged)="addSection()" [disabled]="sectionAddMode"></cbs-cf-add>


